<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--数据库读取-->
    <!--<add key="Mycn_Read" value="Data Source=106.39.194.60;database=mysoufun;uid=mysoufun_r;pwd=39044838" />-->
    <!--数据库写入-->
    <!--<add key="Mycn_Write" value="Data Source=106.39.194.60;database=mysoufun;uid=mysoufun_w;pwd=87e57518" />-->
    <add connectionString="Data Source=106.39.194.60;database=mysoufun;uid=mysoufun_w;pwd=87e57518" name="myfang_w"/>
    <add connectionString="Data Source=106.39.194.60;database=mysoufun;uid=mysoufun_w;pwd=87e57518" name="myfang_r"/>

    <!--<add key="Mycn_Read" value="Data Source=220.181.149.9;database=mysoufun_test;uid=mysoufunt_admin;pwd=m5u6Jtqx" />-->
    <!--<add connectionString="Data Source=220.181.149.9;Database=mysoufun_test;uid=mysoufunt_admin;pwd=m5u6Jtqx" name="myfang_test" />-->
    <add name="myfang_test" connectionString="Data Source=220.181.149.9;database=mysoufun_test;uid=mysoufunt_admin;pwd=m5u6Jtqx"/>
  </connectionStrings>
</configuration>