<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add connectionString="Data Source=220.181.149.9;database=mysoufun_test;uid=mysoufunt_admin;pwd=m5u6Jtqx" name="myfang_w"/>
  </connectionStrings>
</configuration>